.mood_components {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px 12px;
    .item {
        display: inline-flex;
        padding: 8px 16px;
        gap: 4px;
        border-radius: 24px;
        border: 1px solid #FFF;
        background: rgba(255, 255, 255, 0.40);
        font-family: var(--subfont);
        font-size: 16px;
    }

}