#testhome_div {
    position: relative;
    display: flex;
    align-items: center;

    .top {
        width: 100%;
        position: absolute;
        height: 52px;
        top: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        .back {
            width: 24px;
            height: 24px;

        }

        .logo {
            width: 94.448px;
            height: 15.142px;
        }

        .mypage_icon_top {
            width: 24px;
            height: 24px;

        }
    }

    .contents_center_div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        p {
            font-family: var(--subfont);
        }

        .text_top {
            color: var(--white, #FFF);
            font-size: 20px;
            margin-bottom: 28px;
        }

        .text_buttom {
            color: var(--white, #FFF);
            font-size: 16px;
        }

        .text_color {
            color: #37F5E1;
            font-size: 16px;
            margin-bottom: 28px;
        }

        .movie_img {
            width: 196px;
            height: 196px;
        }

        .test_start_btn {
            margin-top: 28px;
            display: inline-flex;
            padding: 12px 24px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 12px;
            background: #343C3C;
            color: var(--white, #FFF);
            font-family: var(--subfont);
            font-size: 20px;
        }
    }
}

#testQ_div {
    position: relative;

    .top {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        .back {
            width: 24px;
            height: 24px;

        }

        .logo {
            width: 94.448px;
            height: 15.142px;
        }

        .close {
            width: 24px;
            height: 24px;

        }
    }

    .percent_bar_back {
        height: 8px;
        margin: 24px 16px;
        border-radius: 16px;
        background: #343C3C;

        .percent {
            width: 8.3333%;
            height: 8px;
            border-radius: 16px;
            background: #37F5E1;
        }
    }

    .question_div {
        display: flex;
        padding: 0 16px;
        margin-bottom: 36px;

        p {
            color: #FFF;
            font-family: var(--mainfont);
            font-size: 16px;
            line-height: 140%;
        }

        .number {
            margin-left: 10px;
            margin-right: 10px;
        }
    }

    .answer_div {
        padding: 0 16px;
        display: flex;
        flex-direction: column;
        gap: 12px;

        .btn_no {
            display: flex;
            width: 100%;
            height: 50px;
            padding: 13px 12px 13px 12px;
            align-items: center;
            border-radius: 4px;
            border: 1px solid #A8FCF3;
            background: rgba(168, 252, 243, 0.15);
            color: #A8FCF3;
            font-family: var(--mainfont);
            font-size: 16px;
            gap: 8px;

            .number {
                display: flex;
                width: 24px;
                height: 24px;
                padding: 1px 8px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 2px;
                background: rgba(55, 245, 225, 0.70);
                color: var(--white, #FFF);
                font-family: var(--mainfont);
                font-size: 16px;
            }
        }

        .btn_choice {
            display: flex;
            width: 100%;
            height: 50px;
            padding: 13px 38px 13px 12px;
            align-items: center;
            border-radius: 4px;
            border: 1px solid #A8FCF3;
            background: rgba(168, 252, 243, 0.70);
            color: var(--white, #FFF);
            font-family: var(--mainfont);
            font-size: 16px;
            gap: 8px;

            .number {
                display: flex;
                width: 24px;
                height: 24px;
                padding: 1px 8px;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                gap: 10px;
                border-radius: 2px;
                background: rgba(168, 252, 243, 0.70);
                color: var(--white, #FFF);
                font-family: var(--mainfont);
                font-size: 16px;
            }
        }
    }

    #bottom_btn {
        position: absolute;
        width: 100%;
        bottom: 70px;
        display: flex;
        gap: 8px;
        padding: 0 16px;

        div {
            display: flex;
            width: 100%;
            height: 50px;
            padding: 13px 0px;
            justify-content: center;
            align-items: center;
            font-family: var(--mainfont);
            font-size: 20px;
            font-weight: 600;
            border-radius: 4px;
        }
    }

    .no_choice {
        .back_btn {
            border: 1px solid var(--glay-400, #B4B4B4);
            background: var(--white, #FFF);
            color: var(--glay-400, #B4B4B4);
        }

        .next_btn {
            background: var(--glay-800, #696969);
            color: var(--glay-400, #B4B4B4);
        }
    }

    .choice {
        .back_btn {
            border: 1px solid #3AD2C2;
            background: var(--white, #FFF);
            color: #3AD2C2;
        }

        .next_btn {
            background: #3AD2C2;
            color: var(--white, #FFF);
        }
    }
}

#testloading_div {
    position: relative;
    display: flex;
    align-items: center;

    .top {
        position: absolute;
        top: 0;
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        .logo {
            margin-left: 24px;
            width: 100%;
            height: 15.142px;
        }

        .close {
            width: 24px;
            height: 24px;
        }
    }

    .contents_center {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .top_text {
            color: var(--white, #FFF);
            font-family: var(--subfont);
            font-size: 20px;
            margin-bottom: 28px;
        }

        .text {
            display: flex;

            .white {
                color: var(--white, #FFF);
                font-family: var(--subfont);
                font-size: 16px;
            }

            .color {
                color: #37F5E1;
                font-family: var(--subfont);
                font-size: 16px;
                margin-left: 7px;
            }
        }

        .loading_img {
            width: 150px;
            height: 66px;
            margin-top: 127px;
            margin-bottom: 200px;
        }
    }
}

#testresult_div {
    .top {
        width: 100%;
        height: 52px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 16px;
        padding-right: 16px;

        .logo {
            margin-left: 24px;
            width: 100%;
            height: 15.142px;
        }

        .close {
            width: 24px;
            height: 24px;
        }
    }

    .contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 36px 16px 117px;

        .title {
            color: var(--white, #FFF);
            font-family: var(--subfont);
            font-size: 20px;
            margin-bottom: 24px;
        }

        .test_result_img {
            width: 214px;
        }

        .name_div {
            margin-bottom: 40px;
            display: inline-flex;
            width: 307px;
            padding: 14px 0;
            justify-content: center;
            align-items: center;
            border-radius: 100px;
            background: var(--bg, #FBFCFF);
            gap: 8px;

            .name_info {
                color: var(--dark, #020C0B);
                font-family: var(--subfont);
                font-size: 16px;
            }

            .name {
                color: var(--dark, #020C0B);
                font-family: var(--subfont);
                font-size: 20px;
            }
        }

        .main_info {
            color: #FFF;
            font-family: var(--mainfont);
            font-size: 16px;
            font-weight: 600;
            margin-bottom: 12px;
        }

        .sub_info {
            color: #FFF;
            text-align: center;
            font-family: var(--mainfont);
            font-size: 14px;
            line-height: 140%;
            margin-bottom: 20px;
        }

        .character_title {
            color: var(--glay-100, #ECECEC);
            font-family: var(--subfont);
            font-size: 20px;
            margin-top: 20px;
        }

        .character_info {
            color: #A8FCF3;
            text-align: center;
            font-family: var(--subfont);
            font-size: 16px;
            margin-top: 8px;
        }

        .chemistry_div {
            margin-top: 40px;
            display: flex;
            width: 100%;
            padding: 20px 19px 20px 20px;
            justify-content: center;
            align-items: center;
            border-radius: 12px;
            border: 1px solid #A8FCF3;
            background: #343C3C;
            flex-direction: column;
            gap: 12px;
            margin-bottom: 64px;

            .chemistry_title {
                color: #FFF;
                font-family: var(--mainfont);
                font-size: 16px;
            }

            .chemistry {
                color: #FFF;
                font-family: var(--mainfont);
                font-size: 14px;
                line-height: 140%;
            }
        }

        .movie_recommend_title {
            color: var(--white, #FFF);
            font-family: var(--subfont);
            font-size: 20px;
            margin-bottom: 12px;
        }

        .movie_poster {
            height: 180px;
            width: 127px;
            border-radius: 4px;
            border: 1px solid var(--black, #444);
            background: url(https://s3-alpha-sig.figma.com/img/cf90/e0b9/5ee1d7f19c6b704742edf5a8bf95bc7e?Expires=1737331200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=Flhr2F7Q6zRrn5lmsScCvMGOKOO5C8eT4DZXuofNF1q~KrRY~V3sSgF5rfQeSYtvon~FD1DQ~pn9BuNeal8Aj0ZkJ~wntPTAdvhTBVV5jG9ZfB~5yrFfhlbm0v4dvKSEnwR6jVd8VsKceAZ79pu2PaM-czQ2qlxP425I~jHMuHBi5cx4k~Da7O5fSw0CMf~fzyCKYHSelUCdcpHJzjmAa0Q9Glwpznpw34S-Fqh7-pvlDyEctiP4MfHMhZlUprMgQqQNTRK1UGLD6HAZWVHD~YGspm813MDbKSKo3xYrxR~SfYQYcmePxBxTnM4vxydnUAEu0PlrWSCkta5D3-0K9A__) lightgray 50% / cover no-repeat;
        }
    }
}